<!DOCTYPE html>
<html lang="en">

<%- include('../include/head.ejs') %>

    <body>
        <%- include('../include/navbar.ejs') %>

            <main>
                <% if (errorMessage.length> 0) {%>
                    <div class="user-message user-message--error">
                        <%= errorMessage%>
                    </div>
                    <%}%>
                        <form class="login-form" action="/signup" method="POST" >
                            <div class="form-control">
                                <label for="email">Email</label>
                                <input
                               
                                type="email" 
                                name="email" 
                                id="email" 
                                value="<%= oldInput.email %>" 
                                required>
                            </div>
                            <div class="form-control">
                                <label for="password">Password</label>
                                <input 
                                
                                type="password" 
                                name="password" 
                                id="password" 
                                value="<%= oldInput.password %>"
                                required>
                            </div>
                            <div class="form-control">
                                <label for="confirmPassword">Confirm Password</label>
                                <input 
                
                                type="password" 
                                name="confirmPassword" 
                                id="confirm-password" 
                                value="<%= oldInput.confirmPassword %>" 
                                required>
                            </div>
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf" readonly>
                            <button type="submit">
                                Sign Up
                            </button>
                        </form>
            </main>