<!DOCTYPE html>
<html lang="en">

<%- include('../include/head.ejs') %>

    <body>
        <%- include('../include/navbar.ejs') %>

            <main>
                <% if (errorMessage.length> 0) {%>
                    <div class="user-message user-message--error">
                        <%= errorMessage%>
                    </div>
                    <%}%>
                        <% if (successMessage.length> 0) { %>
                            <div class="user-message">
                                <%= successMessage %>
                            </div>
                            <% } %>
                                <form class="login-form" action="/new-password" method="POST">
                                    <div class="form-control">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" required>
                                    </div>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="passowordToken" value="<%= passowordToken %>">
                                    <input type="hidden" name="user" value="<%= userId %>">
                                    <button type="submit">
                                        Update Password
                                    </button>
                                </form>
            </main>
    </body>

</html>